body{
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: white;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    height: 100%;
}

.flag{
    height: 300px;
    width: 80%;
    border: solid 4px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FRANCE */
.france {
    height: 200px;
    width: 70%;
    background-color: darkcyan;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.france div:first-child{
    height: 100%;
    background-color: blue;
}
.france div:nth-child(2){
    height: 100%;
    background-color: white;
}
.france div:last-child{
    height: 100%;
    background-color: red;
}

/* JAPAN */
.japan {
    height: 200px;
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.japan div{
    height:100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}
/* DENMARK */
.denmark{
    height: 200px;
    width: 70%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:1fr 1fr;
    gap: 30px 30px;
}
.denmark div{
    background-color: #C8102E;
}
/* GHANA */
.ghana{
    height: 200px;
    width: 70%;
    background: linear-gradient(#cf0922 33%, #fcd20e 33%, #fcd20e 66%, #006b3d 0);
    display: grid;
    place-items: center;
}
.ghana::after {
    position: absolute;
    content: "";
    width: 72px;
    height: 72px;
    margin-top: 5px;
    background-color: black;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }

@media (max-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;
        height: 100%;
    }
    .france {
        width: 90%;
    }
    .japan div{
        height:70px;
        width: 70px;
    }
    
}